:root {
  font-size: 10px;
}

@font-face {
  font-family: "Axiforma";
  src: url("assets/fonts/AxiformaSemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("assets/fonts/AxiformaBold.otf");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  background: linear-gradient(360deg, #312743 0.4%, #0066ff 100%);
  min-height: 100vh;
  font-family: "Axiforma", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a,
button,
input,
textarea {
  transition: 0.2s linear;
  font-family: "Axiforma", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

.button {
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}

.input {
}

.input::placeholder {
}

.input:focus::placeholder {
  opacity: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.orange {
  color: #fdb730;
}

.default__button {
  background: linear-gradient(86.09deg, #d08000 1.41%, #efc105 100.72%);
  border-radius: 10px;
  padding: 0.6rem;
}

.default__button.yellow {
  background: linear-gradient(86.09deg, #efc105 1.41%, #efc105 100.72%);
}

.default__button--wrapper {
  background: #fed225;
  padding: 0.8rem 3rem;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 10px #d08000;
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default__button--img {
  width: 12px;
  transform: rotate(90deg);
  margin-left: 1rem;
  position: relative;
  top: -2px;
}

.default__button:hover .default__button--wrapper,
.default__button--wrapper.active,
.default__button:active .default__button--wrapper,
.draw.default__button:active .default__button--wrapper {
  color: #ffe600;
  background: #055feb;
}

.default__button:hover .default__button--wrapper.active {
  background: #19459e;
}

.draw.default__button:active {
  box-shadow: none;
}

.wallet__wrapper {
  position: relative;
  z-index: 1000;
}

.wallet__drop {
  width: 100%;
  position: absolute;
  top: calc(100% - 8px);
  left: 0;
  background: linear-gradient(86.09deg, #efc105 1.41%, #efc105 100.72%);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s linear;
}

.wallet__drop.active {
  opacity: 1;
  pointer-events: auto;
}

.wallet__value {
  padding: 1.2rem 1rem;
  word-break: break-all;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.wallet__link {
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  padding: 1.3rem 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: 0.2s linear;
}

.wallet__link:hover {
  opacity: 0.5;
}

.wallet__link:last-child {
  border-bottom: none;
}

/* Шапка */
.header {
  padding: 2rem 0;
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #fff;
  font-size: 3rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  z-index: 50;
}

.header__logo:hover .yellow {
  color: #fff;
}

.logo__img {
  position: relative;
  top: -3px;
  margin-right: 1rem;
  transition: 0.2s linear;
  flex-shrink: 0;
}

.logo__img.flip {
  transform: rotate(90deg);
}

.header__logo--inner {
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__shadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.2s linear;
  z-index: 49;
  pointer-events: none;
}

.menu__shadow.active {
  opacity: 1;
  pointer-events: auto;
}

/* Главный блок */
.main {
  padding: 3rem 0;
}

.main__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__coin {
  width: 100%;
  height: auto;
}

.main__content {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.main__wrapper {
  width: 100%;
  max-width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__item {
  margin: 0rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__wrapper--title {
  position: relative;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1.6rem 2rem;
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
}

.main__wrapper--title:before {
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
}

.main__wrapper--stats,
.main__wrapper--player {
  width: 100%;
  border: 2px solid #fff;
  margin-top: 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main__wrapper--stats {
  padding: 2.5rem;
}

.main__stats--title {
  color: #fff;
  font-size: 2rem;
}

.main__stats--content {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__stats--item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__stats--text {
  font-size: 1.8rem;
}

.main__stats--indicator {
  width: 100%;
  height: 7px;
  background: #fdb703;
  margin: 1rem 0;
  position: relative;
}

.main__stats--indicator:before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background: #ffe600;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s linear;
}

.main__wrapper--item {
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.main__wrapper--item:last-child {
  border-bottom: none;
}

.button__draw {
  margin-top: 5rem;
}

.draw {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.draw .default__button--wrapper {
  font-weight: 700;
}

.draw:hover {
  box-shadow: 0 0 30px #fdb703;
}

.draw:hover .default__button--wrapper {
  background: #fed225;
  color: #000;
}

.draw > .default__button--wrapper {
  padding: 1rem 10rem;
}

.main__button--inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__bet--inner {
  width: 100%;
  margin-top: 5rem;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.main__bet {
  background: #fff;
  border-radius: 10px;
  padding: 1.2rem 2rem;
  color: #393bd7;
  font-size: 2rem;
}

.main__bet:hover {
  box-shadow: 0 0 15px #fff;
}

/* Мои игры */
.games__content {
  width: 100%;
  max-width: 730px;
  margin-top: 4rem;
}

.games__wrapper {
  width: 100%;
  margin-top: 5rem;
  border: 2px solid #fff;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

.games__item {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}

.games__item.yellow {
  color: #ffe600;
}

.games__item:nth-child(4n) {
  border-right: none;
}

.games__item:nth-last-child(-n + 4) {
  border-bottom: none;
}

/* Анимации */
.main__coin--inner {
  perspective: 2000px;
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 8rem;
  transition: 0.2s linear;
  border-radius: 50%;
}

.one,
.two {
  animation: flip 2s forwards;
  animation-delay: 1s;
}

@keyframes flip {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-80px);
  }
}

.back,
.two .front {
  transform: rotateY(180deg);
}

.two .back {
  transform: rotateY(0deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.one .front,
.two .back {
  animation: front-rotation 2s linear forwards;
}

.one .back,
.two .front {
  animation: back-rotation 2s linear forwards;
}

@keyframes front-rotation {
  0%,
  50% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(720deg);
  }
}
@keyframes back-rotation {
  0%,
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(900deg);
  }
}

.main__coin.win,
.main__coin.lose,
.main__coin--inner.win .front,
.main__coin--inner.win .back,
.main__coin--inner.lose .front,
.main__coin--inner.lose .back {
  display: none;
}

.main__coin--inner.win,
.main__coin--inner.lose {
  animation: none;
}

.main__coin--inner.win {
  box-shadow: 0 0 100px #fdb703;
}

.main__coin--inner.lose {
  box-shadow: 0 0 100px #192646;
}

.main__coin--inner.win .main__coin.win,
.main__coin--inner.lose .main__coin.lose {
  display: block;
}

.main__coin,
.main__coin--inner {
  pointer-events: none;
}

/* Анимация падающих монет */
.scene {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.win__scene,
.lose__scene {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.win__scene.active,
.lose__scene.active {
  display: flex;
}

.scene:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(49, 39, 67, 1),
    rgba(57, 59, 215, 0)
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.bg__coin {
  position: absolute;
  width: 70px;
}

.coin1 {
  top: -10%;
  left: 5%;
  animation: fall 1.6s linear infinite;
  animation-delay: 0.7s;
}
.coin2 {
  top: -10%;
  left: 10%;
  animation: fall 2.2s linear infinite;
  animation-delay: 0.2s;
}
.coin3 {
  top: -10%;
  left: 15%;
  animation: fall 1.7s linear infinite;
  animation-delay: 0.9s;
}
.coin4 {
  top: -10%;
  left: 20%;
  animation: fall 1.4s linear infinite;
  animation-delay: 1s;
}
.coin5 {
  top: -10%;
  left: 25%;
  animation: fall 2.8s linear infinite;
  animation-delay: 1.5s;
}
.coin6 {
  top: -10%;
  left: 30%;
  animation: fall 2.1s linear infinite;
  animation-delay: 0.6s;
}
.coin7 {
  top: -10%;
  left: 35%;
  animation: fall 2s linear infinite;
  animation-delay: 1.7s;
}
.coin8 {
  top: -10%;
  left: 40%;
  animation: fall 1.6s linear infinite;
  animation-delay: 0.2s;
}
.coin9 {
  top: -10%;
  left: 45%;
  animation: fall 1.5s linear infinite;
  animation-delay: 0.5s;
}
.coin10 {
  top: -10%;
  left: 50%;
  animation: fall 1.2s linear infinite;
  animation-delay: 1s;
}
.coin11 {
  top: -10%;
  left: 55%;
  animation: fall 2.6s linear infinite;
  animation-delay: 1.8s;
}
.coin12 {
  top: -10%;
  left: 60%;
  animation: fall 2.1s linear infinite;
  animation-delay: 1.1s;
}
.coin13 {
  top: -10%;
  left: 65%;
  animation: fall 2.2s linear infinite;
  animation-delay: 1.6s;
}
.coin14 {
  top: -10%;
  left: 70%;
  animation: fall 2.5s linear infinite;
  animation-delay: 0.6s;
}
.coin15 {
  top: -10%;
  left: 75%;
  animation: fall 1s linear infinite;
  animation-delay: 0.5s;
}
.coin16 {
  top: -10%;
  left: 80%;
  animation: fall 1.8s linear infinite;
  animation-delay: 1.2s;
}
.coin17 {
  top: -10%;
  left: 85%;
  animation: fall 1.7s linear infinite;
  animation-delay: 0.1s;
}
.coin18 {
  top: -10%;
  left: 90%;
  animation: fall 1.5s linear infinite;
  animation-delay: 1.7s;
}

@keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

/* Лотерея */
.lotto {
  padding: 3rem 0;
}

.how__inner {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.how__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.how__title {
  font-size: 3rem;
  font-weight: 700;
}

.how__content {
  width: 100%;
  display: flex;
  margin-top: 3.5rem;
  justify-content: space-between;
}

.how__item {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.how__item--title,
.how__item--text {
  width: 100%;
  padding: 2.5rem 2rem;
  border-radius: 15px;
  text-align: center;
}

.how__item--title {
  position: relative;
  background: #fff;
  color: #1065fc;
  font-size: 2rem;
}

.how__item--title:before {
  content: "";
  display: block;
  width: 3px;
  height: 50px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}

.how__item--text {
  margin-top: 5rem;
  border: 3px solid #fff;
  color: #fff;
  font-size: 2rem;
}

.how__item--num {
  position: absolute;
  top: -10px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #ffe600;
  font-size: 2rem;
}

.history__buttons {
  display: flex;
}

.history__button {
  border: 2px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.history__button--img {
  transition: 0.2s linear;
}

.history__button:hover .history__button--img {
  opacity: 0.3;
}

.history__button:active .history__button--img {
  opacity: 1;
}

.history__button:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 2px solid #fff;
}

.history__button:first-child {
  border-radius: 10px 0 0 10px;
  border-left: 2px solid #fff;
}

.history__content {
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 2px solid #fff;
  border-radius: 15px;
}

.history__item {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.2s linear;
}

.history__item:hover {
  color: rgba(255, 255, 255, 0.3);
}

.history__item:nth-child(-n + 6) {
  color: rgba(255, 255, 255, 0.3);
}
.history__item:nth-last-child(-n + 6) {
  border-bottom: none;
}

.history__item:nth-child(6n) {
  border-right: none;
}

.history__item.history__title {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.history__item.history__title:nth-child(6n) {
    border-right: none;
}

.history__loader {
  grid-column: 1/7;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.history__empty {
  grid-column: 1/7;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
.history__empty--text {
  color: #fff;
}

.history__item--num {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffe600;
  color: #000;
}

.next__content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.next__item {
  margin: 1.5rem;
  border: 2px solid #fff;
  border-radius: 15px;
  width: 100%;
  max-width: 415px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next__item:first-child,
.next__item:nth-child(2) {
  max-width: 46%;
}

.next__item--title {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  margin-right: 1rem;
  line-height: 1;
}

.next__item--text {
  max-width: 110px;
  font-size: 2rem;
  line-height: 1.3;
}

.next__time--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}

.next__time--item:last-child {
  margin-right: 0;
}

.next__time--dots {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  margin-right: 1.5rem;
}

.next__time--num {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.next__time--label {
  color: rgba(255, 255, 255, 0.3);
  line-height: 1;
  margin-top: 0.5rem;
}

.lotto__content {
  display: flex;
  justify-content: center;
}

.lotto__wrapper {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 13rem 0 15rem 0;
}

.lotto__wrapper.buy__tickets {
  padding: 1rem 0 3rem 0;
}

.lotto__text {
  color: #fff;
}

.lotto__prize {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1rem;
}

.lotto__buy {
  margin-top: 2rem;
  cursor: pointer;
}

.lotto__buy:hover .lotto__buy--button {
  background: #055feb;
  color: #ffe600;
}

.lotto__buy {
  padding: 1.2rem;
  background: linear-gradient(86.09deg, #ffd600 1.41%, #efc105 100.72%);
  border-radius: 15px;
  position: relative;
}

.lotto__buy--button {
  padding: 1rem 3rem;
  background: #ffe600;
  border-radius: 10px;
  text-transform: uppercase;
  color: #312743;
  font-size: 2.5rem;
  font-weight: 700;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
  transition: 0.2s linear;
}

.line {
  height: 50px;
  width: 2px;
  background: #fff;
  position: absolute;
}

.line.bigline {
  height: 75px;
}

.line1,
.line9 {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.line1 {
  animation: shade 0.8s ease-in infinite;
}

.line9 {
  animation: shade9 0.8s ease-in infinite;
  animation-delay: 0.8s;
}

.line2 {
  top: 30px;
  right: 195px;
  transform: rotate(20deg);
  animation: shade2 0.8s ease-in infinite;
  animation-delay: 0.1s;
}

.line3 {
  top: 40px;
  right: 120px;
  transform: rotate(45deg);
  animation: shade3 0.8s ease-in infinite;
  animation-delay: 0.2s;
}

.line4 {
  top: 130px;
  right: 70px;
  transform: rotate(70deg);
  animation: shade4 0.8s ease-in infinite;
  animation-delay: 0.3s;
}

.line.line5,
.line.line13 {
  width: 75px;
  height: 2px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.line5 {
  animation: shade5 0.8s ease-in infinite;
  animation-delay: 0.4s;
}

.line6 {
  bottom: 130px;
  right: 70px;
  transform: rotate(110deg);
  animation: shade6 0.8s ease-in infinite;
  animation-delay: 0.5s;
}

.line7 {
  bottom: 40px;
  right: 120px;
  transform: rotate(135deg);
  animation: shade7 0.8s ease-in infinite;
  animation-delay: 0.6s;
}

.line8 {
  bottom: 30px;
  right: 195px;
  transform: rotate(155deg);
  animation: shade8 0.8s ease-in infinite;
  animation-delay: 0.7s;
}

.line9 {
  bottom: 0;
  top: auto;
}

.line10 {
  bottom: 30px;
  left: 195px;
  transform: rotate(-155deg);
  animation: shade10 0.8s ease-in infinite;
  animation-delay: 0.9s;
}

.line11 {
  bottom: 40px;
  left: 120px;
  transform: rotate(-135deg);
  animation: shade11 0.8s ease-in infinite;
  animation-delay: 1s;
}

.line12 {
  bottom: 130px;
  left: 70px;
  transform: rotate(-110deg);
  animation: shade12 0.8s ease-in infinite;
  animation-delay: 1.1s;
}

.line13 {
  right: auto;
  left: 0;
  animation: shade13 0.8s ease-in infinite;
  animation-delay: 1.2s;
}

.line14 {
  top: 130px;
  left: 70px;
  transform: rotate(-70deg);
  animation: shade14 0.8s ease-in infinite;
  animation-delay: 1.3s;
}

.line15 {
  top: 40px;
  left: 120px;
  transform: rotate(-45deg);
  animation: shade15 0.8s ease-in infinite;
  animation-delay: 1.4s;
}

.line16 {
  top: 30px;
  left: 195px;
  transform: rotate(-20deg);
  animation: shade16 0.8s ease-in infinite;
  animation-delay: 1.5s;
}

@keyframes shade {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shade2 {
  0% {
    transform: translateY(0) translateX(0) rotate(20deg);
  }
  50% {
    transform: translateY(-7px) translateX(3px) rotate(20deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(20deg);
  }
}
@keyframes shade3 {
  0% {
    transform: translateY(0) translateX(0) rotate(45deg);
  }
  50% {
    transform: translateY(-7px) translateX(7px) rotate(45deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(45deg);
  }
}
@keyframes shade4 {
  0% {
    transform: translateY(0) translateX(0) rotate(70deg);
  }
  50% {
    transform: translateY(-3px) translateX(7px) rotate(70deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(70deg);
  }
}
@keyframes shade5 {
  0% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(10px);
  }
  100% {
    transform: translateY(-50%) translateX(0);
  }
}
@keyframes shade6 {
  0% {
    transform: translateY(0) translateX(0) rotate(110deg);
  }
  50% {
    transform: translateY(0) translateX(10px) rotate(110deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(110deg);
  }
}
@keyframes shade7 {
  0% {
    transform: translateY(0) translateX(0) rotate(135deg);
  }
  50% {
    transform: translateY(7px) translateX(7px) rotate(135deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(135deg);
  }
}
@keyframes shade8 {
  0% {
    transform: translateY(0) translateX(0) rotate(155deg);
  }
  50% {
    transform: translateY(7px) translateX(3px) rotate(155deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(155deg);
  }
}
@keyframes shade9 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shade10 {
  0% {
    transform: translateY(0) translateX(0) rotate(-155deg);
  }
  50% {
    transform: translateY(7px) translateX(-3px) rotate(-155deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-155deg);
  }
}
@keyframes shade11 {
  0% {
    transform: translateY(0) translateX(0) rotate(-135deg);
  }
  50% {
    transform: translateY(7px) translateX(-7px) rotate(-135deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-135deg);
  }
}
@keyframes shade12 {
  0% {
    transform: translateY(0) translateX(0) rotate(-110deg);
  }
  50% {
    transform: translateY(7px) translateX(-7px) rotate(-110deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-110deg);
  }
}
@keyframes shade13 {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
@keyframes shade14 {
  0% {
    transform: translateY(0) translateX(0) rotate(-70deg);
  }
  50% {
    transform: translateY(-7px) translateX(-7px) rotate(-70deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-70deg);
  }
}
@keyframes shade15 {
  0% {
    transform: translateY(0) translateX(0) rotate(-45deg);
  }
  50% {
    transform: translateY(-7px) translateX(-7px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-45deg);
  }
}
@keyframes shade16 {
  0% {
    transform: translateY(0) translateX(0) rotate(-20deg);
  }
  50% {
    transform: translateY(-7px) translateX(-7px) rotate(-20deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(-20deg);
  }
}

.lotto__stars--img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
}

.star1 {
  position: absolute;
  top: -30px;
  right: 20px;
  z-index: 1;
}

.nextdraw__inner {
  position: relative;
}

.nextdraw__stars {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 220px;
  animation: shade 0.8s ease-in infinite;
}

.nextdraw__stars1 {
  bottom: 0;
  left: 0;
}

.nextdraw__stars2 {
  bottom: 0;
  right: 0;
}

.buy__inner {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buy__inner--top {
  border-radius: 15px 15px 0 0;
  background: #fff;
  padding: 1.5rem 4rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy__inner--top.game:before {
  background: rgba(255, 230, 0, 0.2);
}

.buy__inner--top:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  background: rgba(1, 101, 252, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.buy__title {
  color: #1065fc;
  font-size: 2.2rem;
  font-weight: 600;
}

.buy__title.game {
  color: #000;
}

.buy__close {
  cursor: pointer;
}

.buy__inner--content {
  width: 100%;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 15px 15px;
  background: #fff;
}

.buy__button {
  color: #fff;
  background: #0165fc;
  border: 2px solid rgba(1, 101, 252, 0.2);
  border-radius: 20px;
  padding: 1rem 3rem;
  margin-top: 3.5rem;
}

.buy__button.game {
  color: #312743;
  background: #ffe600;
  border: 2px solid rgba(255, 230, 0, 0.2);
}

.buy__button.game:hover {
  background: #fff;
  color: #ffe600;
  border: 2px solid #ffe600;
}

.buy__button:hover {
  background: #fff;
  color: #1065fc;
  border: 2px solid #1065fc;
}

.buy__wrapper {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid rgba(1, 101, 252, 0.3);
  margin-top: 3rem;
}

.buy__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy__wrapper--title {
  color: rgba(1, 101, 252, 0.3);
}

.buy__wrapper--value {
  color: #1065fc;
}

.buy__textarea {
  background: rgba(1, 101, 252, 0.1);
  border: 3px solid rgba(1, 101, 252, 0.2);
  border-radius: 20px;
  resize: none;
  width: 100%;
  height: 110px;
  padding: 1.4rem;
  outline: none;
}

.next__text {
  margin-right: 2rem;
  color: #fff;
  font-size: 2rem;
}

.yellow {
  color: #ffe600;
  transition: 0.2s linear;
}

.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}

.modal.active {
  pointer-events: auto;
  opacity: 1;
}

.your__tickets {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.your__tickets--inner {
  width: 100%;
  background: rgba(252, 228, 12, 0.15);
  border: 3px solid #fce40c;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 10px;
}

.your__tickets--item {
  background: rgba(252, 228, 12, 0.5);
  border-radius: 5px;
  color: #312743;
  padding: 0.6rem;
  text-align: center;
}

/* Анимация лоадера */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Адаптив */
@media (max-width: 1340px) {
  .container {
    max-width: 1180px;
  }

  .bet__button .default__button--wrapper {
    padding: 1rem 8rem;
  }

  .lotto__stars--img {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 978px;
  }

  .main__wrapper {
    max-width: 230px;
  }

  .main__item {
    margin: 0rem 2rem;
  }

  .main__wrapper--stats {
    padding: 2.5rem 1.5rem;
  }

  .main__wrapper--item,
  .main__bet {
    font-size: 1.8rem;
  }
}
@media (max-width: 998px) {
  .container {
    max-width: 748px;
  }

  .main__content {
    flex-wrap: wrap;
  }

  .main__item {
    margin: 0;
  }

  .main__wrapper {
    order: 3;
    margin-top: 4rem;
    max-width: 45%;
  }

  .bg__coin {
    width: 60px;
  }

  .how__item--text,
  .how__item--title {
    font-size: 1.8rem;
    padding: 1.5rem;
  }

  .how__inner {
    margin-top: 7rem;
  }

  .history__item {
    font-size: 1.6rem;
  }

  .next__item {
    max-width: 100%;
    margin: 1rem 0;
  }

  .next__item--text {
    max-width: 100%;
  }

  .how__title {
    font-size: 2.4rem;
  }

  .next__item:first-child,
  .next__item:nth-child(2) {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 460px;
  }

  .main__wrapper {
    margin-top: 3rem;
    max-width: 100%;
  }

  .button__draw,
  .main__bet--inner {
    margin-top: 3rem;
  }

  .games__item {
    font-size: 1.8rem;
  }

  .draw {
    font-size: 2.1rem;
  }

  .main__wrapper--title {
    font-size: 1.9rem;
    padding: 1rem 2rem;
  }

  .bg__coin {
    width: 50px;
  }

  .how__content {
    flex-wrap: wrap;
  }

  .how__item {
    width: 100%;
    margin-top: 3rem;
  }

  .how__item:first-child {
    margin-top: 0;
  }

  .how__item--text {
    margin-top: 2rem;
  }

  .how__item--title:before {
    height: 20px;
  }

  .how__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .history__buttons {
    margin-top: 2rem;
  }

  .history__content {
    grid-template-columns: 1fr;
  }

  .history__item {
    border-bottom: none;
    border-right: none;
  }

  .history__item:nth-child(6n) {
    border-bottom: 2px solid #fff;
  }

  .history__item {
    padding: 0.4rem 1rem;
  }

  .next__time--item,
  .next__time--dots {
    margin-right: 0.6rem;
  }

  .next__time--dots {
    font-size: 2rem;
  }

  .next__time--num {
    font-size: 3rem;
  }

  .next__item--title {
    font-size: 3.5rem;
  }

  .next__item--text {
    font-size: 1.6rem;
  }

  .line {
    display: none;
  }

  .lotto__wrapper {
    padding: 3rem 0;
  }

  .nextdraw__stars {
    width: 140px;
    bottom: 50px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 300px;
  }

  .main__button--inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .bet__button {
    width: 100%;
    margin-top: 1rem;
  }

  .bet__button:first-child {
    margin-top: 0;
  }

  .header__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .header__inner .button {
    margin-bottom: 1rem;
  }

  .games__wrapper {
    grid-template-columns: 1fr;
  }

  .games__item:nth-child(4n) {
    border-bottom: 2px solid #fff;
  }

  .games__item {
    border-right: none;
    border-bottom: none;
    padding: 0.5rem 1rem;
  }

  .main__wrapper--stats,
  .main__wrapper--player,
  .games__wrapper,
  .main__content {
    margin-top: 3rem;
  }

  .main__wrapper--title:before {
    height: 30px;
  }

  .header {
    padding: 1rem 0;
  }

  .header__logo {
    font-size: 2.5rem;
  }

  .main {
    padding: 2rem 0;
  }

  .main__coin--inner {
    width: 140px;
    height: 140px;
  }

  .draw {
    font-size: 1.8rem;
  }

  .bet__button .default__button--wrapper {
    padding: 0.6rem 3rem;
  }

  .main__bet--inner {
    margin-top: 1rem;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .button__draw {
    margin-top: 1rem;
  }

  .how__content {
    margin-top: 2rem;
  }

  .how__item--text,
  .how__item--title {
    font-size: 1.6rem;
  }

  .next__time--label {
    font-size: 1.4rem;
  }

  .buy__inner--content,
  .buy__inner--top {
    padding: 1.5rem;
  }

  .wallet__drop {
    top: calc(100% - 16px);
  }

  .next__item:nth-child(2) {
    flex-direction: column;
    align-items: center;
  }
}
